<h1>Toki Toki</h1>
<div class="container">
    <ng-container *ngFor="let message of messages | async">

        <div class="message" [ngClass]="{'from': message.sentBy === 'bot',
                                         'to': message.sentBy === 'user' }">
          {{message.content}}
        </div>
      </ng-container>
      
      <label for="nameField">Your Message</label>
      
      <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
      <button (click)="sendMessage()">Send</button>
      
</div>
